PORT=5001
MONGODB_URI=mongodb://127.0.0.1:27017/tala-mboka
JWT_SECRET=replace_with_a_long_random_secret
CLIENT_URL=http://localhost:5173
ADMIN_PHONE=0850767267
ADMIN_NAME=Admin Tala Mboka
ADMIN_PASSWORD=Mopepe
